$white: #fff;

$light_shadow: rgba(0, 0, 0, 0.1);
$regular_shadow: rgba(0, 0, 0, 0.2);
$blue_shadow: rgba(16, 49, 182, 0.3);
$darker_shadow: rgba(0, 0, 0, 0.7);

$pale_blue: hsl(225, 100%, 94%);
$very_pale_blue: hsl(225, 100%, 98%);
$bright_blue: hsl(245, 75%, 52%);
$desaturated: hsl(224, 23%, 55%);
$dark_blue: hsl(223, 47%, 23%);
$hover: hsl(245, 83%, 68%);
